
/* reset */
* {-webkit-text-size-adjust:none; margin:0; padding:0;}
html{width:100%; margin-left:0px;}
body{width:100%; height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,talbe,caption{margin:0;padding:0; line-height:auto; -webkit-text-size-adjust:none; color:#000;}
table{border-collapse:collapse; border-spacing:0;}
form, fieldset, label{color:#000;  }
.legend{overflow:hidden;position:relative; visibility : hidden; font-size:0px; width:0px; height:0px; overflow:hidden; line-height:0px;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
del,ins{text-decoration:none;}
button{border:none 0;background:none;cursor:pointer;_cursor /**/:hand;}
hr{display:none;border:none 0;}
label{cursor:pointer;}
img{vertical-align:middle;}
input,select{vertical-align:middle;}
caption{ display:none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; padding:0px; margin:0px;}

/* fonts */
body{font:12px 'Microsoft YaHei' ; color:#666;  width:100%; height:100%;}
/*body{word-wrap:break-word;word-break:break-all;}*/
select,input,textarea{font:16px 'Microsoft YaHei'}
table{font-size:inherit;}
pre,code,kbd,samp,xmp,tt{font-family:monospace;*font-size:108%;line-height:15px;}
a{color:#666;text-decoration:none;}
a:link, a:visited, a:active{color:#666; text-decoration: none;}
a:hover, a:focus{color:#FF4B88;}

.hiddenitem{position:absolute; visibility : hidden; font-size:0px; width:0px; height:0px; overflow:hidden; line-height:0px;}

/* class */
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block; clear:both;}

.fL{float:left;}
.fR{float:right;}
.fC{ clear:both;}
.tL{ text-align:left}
.tR{ text-align:right}
.tC{ text-align:center;}
.noBorder{ border:none !important;}
.bold{ font-weight:bold;}

.f11{font-size:11px !important; }
.f12{font-size:12px !important; }
.f18{font-size:18px !important; }

/* SKIP */
.skip{display:block;}
.skip dt{visibility:hidden; width:0; font-size:0; line-height:0;}
.skip a{position:absolute; left:0; top:-10000em; z-index:9999; display:block; width:100%; background-color:navy; font-size:1.5em; font-weight:bold; color:yellow; text-align:center;}
.skip a:hover, .skip a:active, .skip a:focus{top:0; height:38px; line-height:38px;}

#skipnavi { float:left;position:relative; width:0px; height:0px; font-size:0px; line-height:0px; z-index:999;}
#skipnavi ul li { float:left;position:absolute; top:0px; left:0px; background:#fff;}
#skipnavi ul li a { float:left; position:absolute; display:block;  top:0px; left:-2000px;width:180px; height:18px; font-weight:bold; text-align:center; font-size:120%; color:#0c3a1f;}
#skipnavi ul li a:focus,
#skipnavi ul li a:hover,
#skipnavi ul li a:active {float:left; display:block;   position:absolute; top:0px; left:0px; font-size:14px;height:18px; background:#fff; border:2px solid #8bc602; padding:1em 0; z-index:999;}

/* scroll */
.scrollBar{overflow-y:scroll; overflow-x:hidden;
    scrollbar-face-color: #fff; 
    scrollbar-shadow-color: #c2c2c2; 
    scrollbar-highlight-color: #fff; 
    scrollbar-3dlight-color: #c2c2c2; 
    scrollbar-darkshadow-color: #fff; 
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #c2c2c2;}
.scroll{overflow-y:scroll; overflow-x:hidden;}

/*space*/
.L1{padding-left:1px;}
.L2{padding-left:2px;}
.L3{padding-left:3px;}
.L4{padding-left:4px;}
.L5{padding-left:5px;}
.L7{padding-left:7px;}
.L8{padding-left:8px;}
.L10{padding-left:10px;}
.L12{padding-left:12px;}
.L15{padding-left:15px;}
.L20{padding-left:20px;}
.L25{padding-left:25px;}
.L27{padding-left:27px;}
.L28{padding-left:28px;}
.L30{padding-left:30px;}
.L35{padding-left:35px;}
.L40{padding-left:40px;}
.L50{padding-left:50px;}
.L60{padding-left:60px;}

.R1{padding-right:1px;}
.R2{padding-right:2px;}
.R3{padding-right:3px;}
.R4{padding-right:4px;}
.R5{padding-right:5px;}
.R7{padding-right:7px;}
.R10{padding-right:10px;}
.R12{padding-right:12px;}
.R13{padding-right:13px;}
.R15{padding-right:15px;}
.R20{padding-right:20px;}
.R25{padding-right:25px;}
.R28{padding-right:28px;}
.R30{padding-right:30px;}
.R35{padding-right:35px;}

.T1{padding-top:1px;}
.T2{padding-top:2px;}
.T3{padding-top:3px;}
.T4{padding-top:4px;}
.T5{padding-top:5px;}
.T6{padding-top:6px;}
.T7{padding-top:7px;}
.T8{padding-top:8px;}
.T10{padding-top:10px;}
.T11{padding-top:11px;}
.T13{padding-top:13px;}
.T15{padding-top:15px;}
.T17{padding-top:17px;}
.T18{padding-top:18px;}
.T20{padding-top:20px;}
.T25{padding-top:25px;}
.T30{padding-top:30px;}
.T35{padding-top:35px;}
.T40{padding-top:40px;}
.T50{padding-top:50px;}

.B1{padding-bottom:1px;}
.B2{padding-bottom:2px;}
.B3{padding-bottom:3px;}
.B4{padding-bottom:4px;}
.B5{padding-bottom:5px;}
.B8{padding-bottom:8px;}
.B9{padding-bottom:9px;}
.B10{padding-bottom:10px;}
.B12{padding-bottom:12px;}
.B15{padding-bottom:15px;}
.B20{padding-bottom:20px;}
.B25{padding-bottom:25px;}
.B30{padding-bottom:30px;}


.mB_1{margin-bottom:-1px;}
.mB_2{margin-bottom:-2px;}
.mB_3{margin-bottom:-3px;}
.mB_4{margin-bottom:-4px;}
.mB_5{margin-bottom:-5px;}
.mB1{margin-bottom:1px;}
.mB2{margin-bottom:2px;}
.mB4{margin-bottom:4px;}
.mB5{margin-bottom:5px;}
.mB7{margin-bottom:7px;}
.mB8{margin-bottom:8px;}
.mB10{margin-bottom:10px;}
.mB12{margin-bottom:12px;}
.mB13{margin-bottom:13px;}
.mB15{margin-bottom:15px;}
.mB20{margin-bottom:20px;}
.mB25{margin-bottom:25px;}
.mB30{margin-bottom:30px;}
.mB35{margin-bottom:35px;}
.mB40{margin-bottom:40px;}
.mB50{margin-bottom:50px;}

.mL1{margin-left:1px;}
.mL2{margin-left:2px;}
.mL3{margin-left:3px;}
.mL4{margin-left:4px;}
.mL5{margin-left:5px;}
.mL8{margin-left:8px;}
.mL10{margin-left:10px;}
.mL12{margin-left:12px;}
.mL13{margin-left:13px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}
.mL22{margin-left:22px;}
.mL23{margin-left:23px;}
.mL25{margin-left:25px;}
.mL30{margin-left:30px;}
.mL38{margin-left:38px;}
.mL40{margin-left:40px;}


.mT_3{margin-top:-3px;}
.mT_2{margin-top:-2px;}
.mT_1{margin-top:-1px;}
.mT1{margin-top:1px;}
.mT2{margin-top:2px;}
.mT3{margin-top:3px;}
.mT4{margin-top:4px;}
.mT5{margin-top:5px;}
.mT6{margin-top:6px;}
.mT7{margin-top:7px;}
.mT8{margin-top:8px;}
.mT10{margin-top:10px;}
.mT12{margin-top:12px;}
.mT13{margin-top:13px;}
.mT14{margin-top:14px;}
.mT15{margin-top:15px;}
.mT17{margin-top:17px;}
.mT18{margin-top:18px;}
.mT20{margin-top:20px;}
.mT22{margin-top:22px;}
.mT25{margin-top:25px;}
.mT30{margin-top:30px;}
.mT35{margin-top:35px;}
.mT38{margin-top:38px;}
.mT40{margin-top:40px;}
.mT50{margin-top:50px;}
.mT80{margin-top:80px;}

.mR1{margin-right:1px;}
.mR2{margin-right:2px;}
.mR3{margin-right:3px;}
.mR4{margin-right:4px;}
.mR5{margin-right:5px;}
.mR6{margin-right:6px;}
.mR7{margin-right:7px;}
.mR8{margin-right:8px;}
.mR10{margin-right:10px;}
.mR13{margin-right:13px;}
.mR15{margin-right:15px;}
.mR18{margin-right:18px;}
.mR20{margin-right:20px;}
.mR25{margin-right:25px;}
.mR30{margin-right:30px;}
.mR35{margin-right:35px;}
.mR40{margin-right:40px;}
.mR45{margin-right:45px;}

